.grid {
  margin: auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

.box {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.box div {
  width: 300px;
  height: 100px;
}

.text {
  text-align: center;
}

.vertical_text {
  text-align: center;
  white-space: pre;
}

.square {
  height: 60px;
  width: 60px;
  background-color: #deb887;
  border: solid #deb887 1px;
}

.square_door {
  height: 60px;
  width: 60px;
  background-color: #deb887;
  border-top: dashed black 1px;
  border-right: solid #deb887 1px;
  border-left: solid #deb887 1px;
  border-bottom: solid #deb887 1px;
}

.square_top {
  height: 60px;
  width: 60px;
  border-top: solid black 1px;
  border-right: solid #deb887 1px;
  border-left: solid #deb887 1px;
  border-bottom: solid #deb887 1px;

  background-color: #deb887;
}

.square_left {
  height: 60px;
  width: 60px;
  border-left: solid black 1px;
  border-top: solid #deb887 1px;
  border-right: solid #deb887 1px;
  border-bottom: solid #deb887 1px;
  background-color: #deb887;
}

.square_right {
  height: 60px;
  width: 60px;
  border-left: solid #deb887 1px;
  border-top: solid #deb887 1px;
  border-right: solid black 1px;
  border-bottom: solid #deb887 1px;
  background-color: #deb887;
}

.square_bottom {
  height: 60px;
  width: 60px;
  border-left: solid #deb887 1px;
  border-top: solid #deb887 1px;
  border-right: solid #deb887 1px;
  border-bottom: solid black 1px;
  background-color: #deb887;
}

.square_left_top_bottom {
  height: 60px;
  width: 60px;
  border-left: solid black 1px;
  border-top: dashed black 1px;
  border-right: solid #deb887 1px;
  border-bottom: dashed black 1px;
  background-color: #deb887;
}

.square_top_bottom {
  height: 60px;
  width: 60px;
  border-left: solid #deb887 1px;
  border-top: dashed black 1px;
  border-right: solid #deb887 1px;
  border-bottom: dashed black 1px;
  background-color: #deb887;
}
.square_top_bottom_right {
  height: 60px;
  width: 60px;
  border-left: solid #deb887 1px;
  border-top: dashed black 1px;
  border-right: solid #deb887 1px;
  border-bottom: dashed black 1px;
  background-color: #deb887;
}

.square_dotted {
  height: 60px;
  width: 60px;
  border-left: dashed black 1px;
  border-top: dashed black 1px;
  border-right: dashed black 1px;
  border-bottom: dashed black 1px;
  background-color: #deb887;
}

.square_dotted_bottom {
  height: 60px;
  width: 60px;
  border-left: solid #deb887 1px;
  border-top: solid #deb887 1px;
  border-right: solid #deb887 1px;
  border-bottom: dashed black 1px;
  background-color: #deb887;
}

.table {
  height: 60px;
  width: 60px;
  border: solid black 1px;
  background-color: #a52a2a;
}

.table_left {
  height: 60px;
  width: 60px;
  border-left: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-right: solid #a52a2a 1px;
  background-color: #a52a2a;
}

.table_right {
  height: 60px;
  width: 60px;
  border-right: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-left: solid #a52a2a 1px;
  background-color: #a52a2a;
}

.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}

.null1 {
  background-image: url("Entrance1.png");
  background-size: cover;
}

.null2 {
  background-image: url("Entrance2.png");
  background-size: cover;
}

.null3 {
  background-image: url("Entrance3.png");
  background-size: cover;
}
