.grid {
	width: 510px;
	height: 510px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 100px;
	width: 100px;
	border: solid black 1px;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}
